@media (min-width: 960px) {
    .icon-catalog-page .VPDoc .container {
        max-width: 1440px !important;
    }

    .icon-catalog-page .VPDoc .content {
        margin: 0 auto;
        max-width: 1280px !important;
    }

    .icon-catalog-page .VPDoc .content-container {
        max-width: none !important;
    }

    .icon-catalog-page .VPDoc .aside {
        display: none !important;
    }
}
