@import (reference) './palette.less';

.VPNavBarTitle .logo {
    border-radius: 4px;
}

:root {
    --vp-c-gray-1: @grey-500;
    --vp-c-gray-2: @grey-400;
    --vp-c-gray-3: @grey-200;
    --vp-c-gray-soft: fade(@black-500, 8%);

    --vp-c-indigo-1: @blue-500;
    --vp-c-indigo-2: @blue-600;
    --vp-c-indigo-3: @blue-500;
    --vp-c-indigo-soft: @blue-translucent;

    --vp-c-purple-1: @purple-600;
    --vp-c-purple-2: @purple-500;
    --vp-c-purple-3: @purple-500;
    --vp-c-purple-soft: @purple-translucent;

    --vp-c-green-1: @green-800;
    --vp-c-green-2: @green-700;
    --vp-c-green-3: @green-500;
    --vp-c-green-soft: @green-translucent;

    --vp-c-yellow-1: @yellow-900;
    --vp-c-yellow-2: @yellow-800;
    --vp-c-yellow-3: @yellow-500;
    --vp-c-yellow-soft: @yellow-translucent;

    --vp-c-red-1: @red-700;
    --vp-c-red-2: @red-600;
    --vp-c-red-3: @red-500;
    --vp-c-red-soft: @red-translucent;

    --vp-c-bg: white;
    --vp-c-bg-alt: @grey-200;
    --vp-c-bg-elv: white;
    --vp-c-bg-soft: @grey-100;
    --vp-c-border: @grey-600;
    --vp-c-divider: @grey-500;
    --vp-c-gutter: @grey-400;
    --vp-c-text-1: @black-500;
    --vp-c-text-2: @grey-900;
    --vp-c-text-3: @grey-800;

    --vp-button-brand-bg: @blue-500;
    --vp-button-brand-hover-bg: @blue-600;
    --vp-button-brand-active-bg: @blue-700;
}

.dark {
    --vp-c-gray-1: @black-100;
    --vp-c-gray-2: @black-200;
    --vp-c-gray-3: @black-300;
    --vp-c-gray-soft: fade(@grey-100, 8%);

    --vp-c-indigo-1: @blue-300;
    --vp-c-indigo-2: @blue-200;
    --vp-c-indigo-3: @blue-500;
    --vp-c-indigo-soft: fade(@blue-300, 16%);

    --vp-c-purple-1: @purple-300;
    --vp-c-purple-2: @purple-200;
    --vp-c-purple-3: @purple-500;
    --vp-c-purple-soft: fade(@purple-300, 16%);

    --vp-c-green-1: @green-300;
    --vp-c-green-2: @green-200;
    --vp-c-green-3: @green-500;
    --vp-c-green-soft: fade(@green-300, 16%);

    --vp-c-yellow-1: @yellow-300;
    --vp-c-yellow-2: @yellow-200;
    --vp-c-yellow-3: @yellow-500;
    --vp-c-yellow-soft: fade(@yellow-300, 16%);

    --vp-c-red-1: @red-300;
    --vp-c-red-2: @red-200;
    --vp-c-red-3: @red-500;
    --vp-c-red-soft: fade(@red-300, 16%);

    --vp-c-bg: @black-900;
    --vp-c-bg-alt: @black-800;
    --vp-c-bg-elv: @black-700;
    --vp-c-bg-soft: @black-600;
    --vp-c-border: @black-100;
    --vp-c-divider: @black-300;
    --vp-c-gutter: @black-800;
    --vp-c-text-1: @grey-100;
    --vp-c-text-2: @grey-700;
    --vp-c-text-3: @grey-800;
}

@media (min-width: 960px) {
    .icon-catalog-page .VPDoc .container {
        max-width: 1440px !important;
    }

    .icon-catalog-page .VPDoc .content {
        margin: 0 auto;
        max-width: 1280px !important;
    }

    .icon-catalog-page .VPDoc .content-container {
        max-width: none !important;
    }

    .icon-catalog-page .VPDoc .aside {
        display: none !important;
    }
}
