@colors: red, blue, yellow, green, purple, black, grey;

/* Red */
@red-100: #FFEDED;
@red-200: #FFC9C2;
@red-300: #FF8E87;
@red-400: #FF6A68;
@red-500: #F04747;
@red-600: #DD4141;
@red-700: #B73232;
@red-800: #AB2626;
@red-900: #6F1111;

@red-gradient: linear-gradient(180deg, #FF5353 0%, @red-600 100%);
@red-translucent: fade(@red-500, 12%);
/** @deprecated */
@red-transparent: @red-translucent;

/* Blue */
@blue-100: #E0ECFF;
@blue-200: #B8DBFF;
@blue-300: #6CADFF;
@blue-400: #4191FF;
@blue-500: #005EEB;
@blue-600: #0052CC;
@blue-700: #0044B7;
@blue-800: #0033A2;
@blue-900: #00228C;

@blue-gradient: linear-gradient(180deg, #0068FF 0%, #005BD5 100%);
@blue-translucent: fade(@blue-500, 12%);
/** @deprecated */
@blue-transparent: @blue-translucent;

/* Yellow */
@yellow-100: #FFF4E5;
@yellow-200: #FFE4C2;
@yellow-300: #FFCC8A;
@yellow-400: #FEBF6C;
@yellow-500: #FEA025;
@yellow-600: #EA8B06;
@yellow-700: #D07601;
@yellow-800: #BC6B01;
@yellow-900: #965601;

@yellow-translucent: fade(@yellow-500, 12%);
/** @deprecated */
@yellow-transparent: @yellow-translucent;

/* Green */
@green-100: #E1FAF2;
@green-200: #BFEDDC;
@green-300: #6CE0B9;
@green-400: #4CD6A8;
@green-500: #1EB383;
@green-600: #1FA37B;
@green-700: #19976E;
@green-800: #157E5C;
@green-900: #11654A;

@green-gradient: linear-gradient(180deg, #22C993 0%, @green-600 100%);
@green-translucent: fade(@green-500, 12%);
/** @deprecated */
@green-transparent: @green-translucent;

/* Purple */
@purple-100: #ECE5FA;
@purple-200: #CDBAF2;
@purple-300: #A987E9;
@purple-400: #8A5CE1;
@purple-500: #6B31D9;
@purple-600: #4A2AA5;
@purple-700: #432796;
@purple-800: #371F7C;
@purple-900: #2D1A68;

@purple-translucent: fade(@purple-500, 12%);
/** @deprecated */
@purple-transparent: @purple-translucent;

/* Black */
@black-100: #323976;
@black-200: #2D336C;
@black-300: #262B5A;
@black-400: #21254F;
@black-500: #1E2248;
@black-600: #1A1D3E;
@black-700: #151833;
@black-800: #111329;
@black-900: #0D0F1F;

/* Grey */
@grey-100: #F9FAFB;
@grey-200: #F4F6F8;
@grey-300: #EEF1F3;
@grey-400: #E9ECEE;
@grey-500: #DEE2E6;
@grey-600: #C7CDD4;
@grey-700: #AFB9C3;
@grey-800: #8A96A6;
@grey-900: #636F7F;

@grey-gradient: linear-gradient(180deg, #FFFFFF 0%, @grey-400 100%);
